.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 15px;
}

/**
  |============================
  |         header
  |============================
*/

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.page-header-container {
  display: flex;
  align-items: center;
  min-height: 70px;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: none;
}

.address {
  display: none;
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 249px;
}

.logo-part {
  color: var(--dark);
}
.menu-toggle {
  display: block;
  width: 32px;
  height: 22px;
  margin-left: auto;
  border: none;
  background-color: transparent;
}

.icon-menu {
  stroke: #2e2f42;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  padding: 24px 0px;
}
.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
/**
  |============================
  |           hero
  |============================
*/

.hero {
  background-color: var(--dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/Dark-bg-mobile.png);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 428px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 112px 0;
}

.hero-title {
  color: var(--white-background);
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin-bottom: 72px;
}

.hero-button {
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  border: none;
  display: block;
  margin-left: auto;
  margin-right: auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state);
}
