/**
  |============================
  |          BODY
  |============================
*/

/* .container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
} */

/* .page-nav {
  display: flex;
  align-items: center;
} */
/* .site-nav {
  display: flex;
  align-items: center;
} */
/* .nav-item {
  padding: 24px 0;
  position: relative;
} */
/* .logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}

.logo-part {
  color: var(--dark);
} */

/* .menu-item:not(:last-child) {
  margin-right: 40px;
} */

/* .link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* .list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
} */

/* .site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state);
}
.site-nav .link.current {
  color: var(--pressed-state);
} */

/* .address {
  font-style: normal;
  margin-left: auto;
}

.auth-nav {
  color: var(--text);
  display: flex;
  align-items: center;
}

.auth-nav:hover,
.auth-nav:focus {
  color: var(--pressed-state);
}

.auth-nav-first {
  margin-right: 40px;
} */
/* .current-page {
  color: var(--pressed-state);
} */

/* .current-page::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  width: 100%;
  background-color: var(--pressed-state);
  border-radius: 2px;
} */

/**
  |============================
  |       section
  |============================
*/
/* НЕ ПЕРЕНОСИЛА ЩЕ */
/* 

 */

/**
  |============================
  |           TEAM
  |============================
*/
/* 

 */

/* Є В МОБАЙЛ МЕНЮ */
/* .socials {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-item .socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand);
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.socials-icons {
  fill: #f4f4fd;
}
.socials-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover,
.socials-link:focus {
  background-color: var(--pressed-state);
} */

/**
  |============================
  |       footer
  |============================
*/
/* 
.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.footer-text {
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 264px;
}

.footer .logo-part {
  color: var(--light);
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  text-decoration: none;
}

.footer-flex {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.footer-first-part {
  margin-right: 120px;
}

.footer-second-part {
  margin-right: 80px;
}
.footer-second-text {
  margin-bottom: 16px;
  color: var(--white-background);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}

.socials-footer {
  gap: 16px;
}
.socials-link-footer {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link-footer:hover,
.socials-link-footer:focus {
  background: var(--success);
} */
/* Form */
/* 
.footer-email {
  width: 453px;
  display: flex;
  gap: 24px;
}

.footer-email-label {
}
.footer-email-input {
  background-color: transparent;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;

  color: var(--white-background);
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.48px;
  line-height: 1.5;
}
.footer-email-input::placeholder {
  color: var(--white-background);
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.48px;
}

.footer-email-btn {
  min-width: 165px;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  border: none;
  background: var(--primary-brand);

  color: var(--white-background);
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-email-btn:hover,
.footer-email-btn:focus {
  background-color: var(--pressed-state);
}
.footer-email-icon {
  margin-left: 16px;
} */
/**
  |============================
  |       Modal window
  |============================
*/
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  position: absolute;
  /* Center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  /* Size */
  width: 408px;
  min-height: 584px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Design */
  border-radius: 4px;
  background: var(--modal-background);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background: var(--pressed-state);
  border: none;
}

.modal-close-btn:hover .icon-close,
.modal-close-btn:focus .icon-close {
  fill: var(--white-background);
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-caption {
  display: block;
  margin-bottom: 16px;

  color: var(--dark);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.modal-form {
}

.modal-inputs {
  margin-bottom: 8px;
}

.registr-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}
.registr-field {
  position: relative;
  margin-bottom: 8px;
}
.registr-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.registr-input:focus {
  border-color: var(--primary-brand);
}

.registr-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  padding-top: 3px;
  padding-bottom: 3px;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registr-input:focus + .registr-icon {
  fill: var(--primary-brand);
}

/* textarea */
.modal-textarea {
  margin-bottom: 16px;
}
.registr-comment {
  resize: none;
  height: 120px;
  padding: 8px 16px;
}
textarea {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
}

/* checkbox */
.modal-cheackbox {
  margin-bottom: 24px;
}

.registr-agreenent {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text);
}
.registr-agreenent-svg {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  fill: transparent;
}

.registr-agreenent-link {
  color: var(--primary-brand);
}

.registr-agreenent-checkbox:checked
  + .registr-agreenent
  > .registr-agreenent-svg {
  background-color: var(--pressed-state);
  border: none;
  fill: var(--light);
}

/* Button SEND */

.registr-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;

  min-width: 169px;
  padding: 16px 32px;

  border-radius: 4px;
  border: none;
  background: var(--primary-brand);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

  color: var(--white-background);
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.registr-btn:hover,
.registr-btn:focus {
  background-color: var(--pressed-state);
}

/**
  |============================
  |         Portfolio
  |============================
*/
/* 
.sorting-button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-brand);
  background-color: var(--light);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid var(--accent);
}

.sorting {
  box-sizing: border-box;
  padding: 96px 0 120px;
} */
/* 
.sorting-button:hover,
.sorting-button:focus {
  border: 1px solid transparent;
  color: var(--white-background);
  background-color: var(--pressed-state);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.sort {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.portfolio-card {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-card-wrapper {
  box-sizing: border-box;
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translate(0, 0);
}

.portfolio-card-list .portfolio-link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */

/* size */
/* width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px 32px; */

/* Design */
/* background: var(--primary-brand);
  color: var(--light);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
} */
