@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  /**
  |============================
  |         header
  |============================
*/
  .logo {
    margin-right: 120px;
  }
  .menu-toggle {
    display: none;
  }

  .site-nav {
    display: flex;
    align-items: center;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--pressed-state);
  }
  .site-nav .link.current {
    color: var(--pressed-state);
  }

  .current-page {
    color: var(--pressed-state);
  }

  .current-page::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    width: 100%;
    background-color: var(--pressed-state);
    border-radius: 2px;
  }

  .nav-item {
    padding: 24px 0;
    position: relative;
  }

  .menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .address {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .auth-nav {
    color: var(--text);
    display: block;
    font-size: 12px;
  }

  .auth-nav:hover,
  .auth-nav:focus {
    color: var(--pressed-state);
  }

  .auth-nav-first {
    margin-right: 40px;
  }

  .container .link {
    display: inline-block;
  }

  /* hero */
  /* Tablet screen */
  @media only screen and (min-width: 481px) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero/Dark-bg_tab@1x.webp");
    }
    /* Retina*/
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
          ),
          url("../images/hero/Dark-bg_tab@2x.webp");
      }
    }
  }

  .hero-title {
    font-size: 56px;
    max-width: 496px;
    margin-bottom: 36px;
  }

  /*   advantages    */

  .section-title {
    text-align: start;
  }
  .advantages {
    gap: 72px 24px;
  }

  .advantages-card {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }
  /*           TEAM          */
  .team-card {
    background-color: var(--white-background);
    flex-basis: calc((100% - 2 * 24px) / 3);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }

  /*          customers        */
  .custumers-list {
    gap: 72px 24px;
  }

  /*       footer      */
  .footer {
    text-align: left;
  }

  .footer-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
    padding-left: 92px;
    padding-right: 92px;
  }
  .logo.footer-link {
    text-align: start;
  }
  .footer-second-part {
    text-align: start;
  }

  .footer-third-part {
    text-align: start;
  }

  .footer-email {
    width: 453px;
    display: flex;
    gap: 24px;
  }

  .footer-email-input {
    width: 264px;
  }
}
